version: '3.8'
services:
  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/formbuilder
      - ADMIN_USERNAME=admin
      - ADMIN_PASSWORD=password
      - ADMIN_TOKEN=mysecuretoken
      - PORT=5000
    depends_on:
      - mongo
  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  mongo-data:
