.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-group-checkbox input {
  margin-right: 10px;
}

.radio-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.radio-option input {
  margin-right: 10px;
}
